# Mac Gunk
.DS_Store
.Trashes
.Spotlight-V100
.fseventsd
._*

# Nintendo folders
emuMMC
Nintendo

# Android stuff
Alarms
Android
Audiobooks
DCIM
Documents
Download
LOST.DIR
Movies
Music
Notifications
Pictures
Podcasts
Ringtones
switchroot/joycon_mac.bin
switchroot/joycon_mac.ini
switchroot/switch.cal

# Homebrew stuff
atmosphere/erpt_reports
atmosphere/crash_reports
atmosphere/fatal_reports
config/aio-switch-updater/cheats_version.dat
config/aio-switch-updater/cheats.zip
config/amiigo/API.json
switch/chiaki.conf
switch/breeze/cheats/*
switch/nxdt_rw_poc.log
JKSV
backup

# Game mods & cheats
atmosphere/contents/0100152000022000
atmosphere/contents/*/cheats

# Extra fun stuff
bootloader/payloads/Lockpick_RCM.bin
atmosphere/contents/420000000000000B
atmosphere/exefs_patches/es_patches
atmosphere/exefs_patches/nfim_ctest
atmosphere/kip_patches/fs_patches
atmosphere/kip_patches/loader_patches
bootloader/patches.ini
config/sys-patch
switch/tinfoil
switch/prod.keys
switch/title.keys
switch/Simpsons
switch/Goldleaf/title
switch/Goldleaf/userdata
switch/AmiiboGenerator.nro
nsps/*
!nsps/Retroarch_0402351D1E46C000.nsp
firmware/

emuiibo/amiibo/*
emuiibo/miis
!emuiibo/amiibo/._
!emuiibo/amiibo/emuiibo
!emuiibo/amiibo/emuiibo_1

retroarch
1Retro Games
sm64.log
tinfoil.install.log
